* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* baanner section  */

.top-banner {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    height: 750px;

}

.banner-section {
    text-align: right;
    padding: 180px 120px 150px 700px;

}

.banner-title {
    font-size: 60px;
    font-weight: 800;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    margin-bottom: 32px;
}

.banner-button {
    padding: 18px 22px;
    background-color: rgb(251, 24, 24);
    border: none;
    color: wheat;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}


main {
    /* border: 1px solid red; */
    max-width: 1140px;
    margin: 0 auto;
}

/* My failures of previous year  */

.failures-section {
    display: flex;
    margin-top: 100px;
    align-items: center;
    gap: 90px;

}

.failures-description {
    margin-right: 60px;
}

.failures-description h1 {
    color: #151414;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 24px;

}

.failures-description>p {
    color: #444343;
    margin-bottom: 17px;
}

.failures-description-icon p {
    color: #444343;
    margin-bottom: 8px;
}

.failures-description-icon img {
    height: 12px;
    padding-right: 8px;

}

/* may plane section  */

.my-plans {
    text-align: center;
    margin: 130px 0;
    
}

.my-plans-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #151414;
}

.my-plans-section {
    display: flex;
    justify-content: center;
    gap: 150px;
}


.my-plans-document h2{
    font-size: 25px;
    font-weight: 700;
    color: #151414;

}
.my-plans-document p{
    font-size: 18px;
    font-weight: 700;
    color: #737272;

}


/* Awlays keep a positive mindset  */

.mindset-section{
    background-image:url(../images/gradient2.png),  url(../images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
   

}

.mindset-section{
    padding: 60px 600px 60px 60px;

}

.mindset-section h1{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 24px;
}

.mindset-section button{
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    font-size: 18px;
    font-weight: 600;
}



/* footer section  */

footer{
    
    background-color: #151414;
}

.footer-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

.footer-section-left{
    padding-right:  300px;
    margin: 130px 0;
}

.footer-section-left h1{
    font-size: 40px;
    font-weight: 900;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-section-left p{
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 24px;
}

.footer-icon img{
    margin-right: 15px;
}

/* right side  */

.footer-section-right{
    margin: 130px 0;
}
.footer-section-right #email{
    padding: 20px 120px 20px 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #151414;


}

.footer-section-right h1{
    font-size: 40px;
    font-weight: 900;
    color: #F8F8F8;
    margin-bottom: 16px;

}

.footer-btn{
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    font-size: 18px;
    font-weight: 600;

}



/* what i do  section */

.what-i-do{
    background-color: #171c23;
    
}

.my-services{
    color: rgb(255, 255, 255);

}

.what-i-do h3{
    color:#099879;
    font-size: 16px;
    padding: 100px 0 10px 100px;
    font-weight: 100;

}

.what-i-do h1{
    color: #FFFFFF;
    padding: 0px 0 20px 100px;
    font-size: 50px;
    font-weight: 700;
}

.what-i-do-box{
    display: flex;
    gap: 220px;
    max-width: 1160px;
    margin: 0 auto;
}

.work-status{
    background-color: #21272f;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
    
    
}

.work-status img{
    
    display: block;
    margin: 0 auto;

}

.work-status-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    margin: 15px 0;
}

.work-description{
    color: #a2a3a8;
    text-align: center;

}